.vscode/**
.vscode-test/**
out/test/**
out/**/*.map
src/**
kityminder/core/**
kityminder/webui/node_modules/**
kityminder/webui/bower_components/**
kityminder/webui/src/**
kityminder/webui/less/**
kityminder/webui/ui/**
kityminder/webui/server/**
kityminder/webui/bower.json
kityminder/webui/favicon.ico
kityminder/webui/Gruntfile.js
kityminder/webui/index.html
kityminder/webui/LICENSE
kityminder/webui/main.js
kityminder/webui/package.json
kityminder/webui/README.md
kityminder/webui/rollup.config.js
kityminder/webui/yarn.lock
kityminder/webui/.babelrc
kityminder/webui/.bowerrc
kityminder/webui/.jscsrc

!kityminder/webui/core/kityminder.core.css
!kityminder/webui/core/kityminder.core.min.js

!kityminder/webui/bower_components/bootstrap/dist/css/bootstrap.css
!kityminder/webui/bower_components/bootstrap/dist/fonts/glyphicons-halflings-regular.woff2
!kityminder/webui/bower_components/bootstrap/dist/fonts/glyphicons-halflings-regular.woff
!kityminder/webui/bower_components/bootstrap/dist/fonts/glyphicons-halflings-regular.ttf
!kityminder/webui/bower_components/codemirror/lib/codemirror.css
!kityminder/webui/bower_components/hotbox/hotbox.css
!kityminder/webui/bower_components/color-picker/dist/color-picker.min.css
!kityminder/webui/bower_components/jquery/dist/jquery.js
!kityminder/webui/bower_components/bootstrap/dist/js/bootstrap.js
!kityminder/webui/bower_components/angular/angular.js
!kityminder/webui/bower_components/angular-bootstrap/ui-bootstrap-tpls.js
!kityminder/webui/bower_components/codemirror/lib/codemirror.js
!kityminder/webui/bower_components/codemirror/mode/xml/xml.js
!kityminder/webui/bower_components/codemirror/mode/javascript/javascript.js
!kityminder/webui/bower_components/codemirror/mode/css/css.js
!kityminder/webui/bower_components/codemirror/mode/htmlmixed/htmlmixed.js
!kityminder/webui/bower_components/codemirror/mode/markdown/markdown.js
!kityminder/webui/bower_components/codemirror/addon/mode/overlay.js
!kityminder/webui/bower_components/codemirror/mode/gfm/gfm.js
!kityminder/webui/bower_components/angular-ui-codemirror/ui-codemirror.js
!kityminder/webui/bower_components/marked/lib/marked.js
!kityminder/webui/bower_components/kity/dist/kity.min.js
!kityminder/webui/bower_components/hotbox/hotbox.js
!kityminder/webui/bower_components/json-diff/json-diff.js
!kityminder/webui/bower_components/color-picker/dist/color-picker.min.js
.gitignore
tsconfig.json
vsc-extension-quickstart.md
tslint.json
notebook-*.vsix