.vscode/**
.vscode-test/**
out/test/**
out/**/*.map
src/**

.gitignore
tsconfig.json
vsc-extension-quickstart.md
tslint.json
notebook-*.vsix
testDir/**


plan-tree/src/**
plan-tree/node_modules/**
plan-tree/public/**
plan-tree/.vscode
plan-tree/.ice